@import "@/scss/settings/theme";

%base-table {
  width: 100%;

  tr {
    height: 100px;
    border-bottom: 1px solid theme(border_primary);

    th {
      min-width: 150px;
      width: 40%;
      font-weight: 600;
    }

    td {
      text-align: left;
    }

    @include respondTo(smallTablet) {
      height: 50px;
    }
  }
}
